.contacts-form {
  border: 1px solid black;
  display: inline-block;
  width: 400px;
  padding: 20px;

  &__button {
    margin-top: 30px;
  }
}

.label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  margin-top: 10px;
  width: 200px;
  border: none;

  &:focus {
    
    outline: none;
  }
}

.button {
  display: inline-block;
  min-width: fit-content;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
    border: none;
    cursor: pointer;

  &:hover {
     background-color: blue;
    color: turquoise;
  }
}